
    body {
        margin: 0;
        font-family: Arial, sans-serif;
        background: #f9f9f9;
    }

    /* Sidebar */
    .sidebar {
        width: 220px;
        background: #ffffff;
        height: 100vh;
        border-right: 1px solid #ccc;
        position: fixed;
        padding: 20px 10px;
    }

    .logo {
        text-align: center;
        font-size: 22px;
        font-weight: bold;
        margin-bottom: 40px;
    }

    .nav a {
        display: block;
        padding: 12px;
        text-decoration: none;
        color: #000;
        font-weight: bold;
    }

    .nav a:hover {
        background: #d2b39c;
        color: #fff;
        border-radius: 8px;
    }

    /* Main Page */
    .main {
        margin-left: 240px;
        padding: 20px;
    }

    /* USER MANAGEMENT TABLE */
    table {
        width: 100%;
        border-collapse: collapse;
        background: white;
    }

    th, td {
        padding: 12px;
        border-bottom: 1px solid #ccc;
        text-align: left;
    }

    th {
        background: #b98e75;
        color: white;
    }

    .btn {
        padding: 6px 14px;
        border: none;
        border-radius: 20px;
        cursor: pointer;
        color: #fff;
    }

    .ban { background:#8e1c0f; }
    .unban { background:#1f7a2f; }
    .warn-icon { color:#c07e00; font-size:18px; }

    .actions {
        margin-top: 20px;
        display: flex;
        gap: 10px;
    }
    .actions button {
        padding: 10px 20px;
        border-radius: 20px;
        border: none;
        background: #b98e75;
        color: white;
        cursor: pointer;
    }

    /* DASHBOARD */
    .card-container {
        display: flex;
        gap: 20px;
        margin-bottom: 20px;
    }

    .card {
        background: #b98e75;
        color: white;
        padding: 20px;
        border-radius: 12px;
        width: 220px;
    }

    .chart-box {
        background: #b98e75;
        padding: 20px;
        border-radius: 12px;
        height: 260px;
    }
